<%= form_for(@skill) do |f| %>
  <% if @skill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@skill.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
      <% @skill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :technology %><br>
    <%= f.text_field :technology,  :placeholder => "Insert yor ART ... " %>
  </div>


<div class="field">
    <%= f.label :profiency %>
    <%= f.select(:profiency, ['Academic', 'Professional'], { prompt: "Choose a category" }, :class => "browser-default" ) %>

</div>


  <div class="field">
    <%= f.label :scale %> [1..5] <br>
    <%= f.text_field :scale, :placeholder => "Insert value bteween 1 to 5 " %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
