<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @skill.technology %>
</p>

<p>
  <strong>Profiency:</strong>
  <%= @skill.profiency %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @skill.scale %>
</p>

<p>
  <strong>User:</strong>
 <%= @skill.user.email %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
