
           <% if user_signed_in? %>
           <li><%= link_to " My Skills" , skills_path  ,  :class => "waves-effect waves-light btn-large" %></li>
           <li> Logged in as <strong><%= current_user.email %></strong> </li>
           <li class="active"><%= link_to "log out #{current_user.name}", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
           <li> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
           <% else %>
           <% if company_signed_in? %>
           <li class="active">  <%= link_to "DASHBOARD", admin_index_path ,  :class => "waves-effect waves-light btn-large" %> </li>
           <li>
             <%= link_to "Logout", destroy_company_session_path, method: :delete, :class => 'navbar-link'  %></li>
             <% else %>

             <li><%= link_to "Company Login", new_company_session_path, :class => 'navbar-link'  %></li>
             <li><%= link_to "Company Sign up", new_company_registration_path, :class => 'navbar-link'  %> </li>

             <% end %>


             <li><%= link_to "Client Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
             <li><%= link_to " Client Login", new_user_session_path, :class => 'navbar-link'  %></li>
             <% end %>
