<!DOCTYPE html>
<html>
<head>
  <title>iConsulting</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content">
          <%= render "layouts/login" %>
       </ul>

       <nav>
              <div class="nav-wrapper">
                <%= link_to "iConsulting", root_path %>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  <% if  current_user%>
                     <li class="active"><%= link_to " My Skills" , skills_path %></li>
                      <li><%= link_to "log out #{current_user.name}", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                   <% elsif current_company   %>
                     <li class="active">  <%= link_to "DASHBOARD", admin_index_path  %> </li>
                     <li><%= link_to "Logout", destroy_company_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <% end %>
                  <!-- Dropdown Trigger -->
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Login<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                  <% if  current_user%>
                     <li class="active"><%= link_to " My Skills" , skills_path %></li>
                      <li><%= link_to "log out #{current_user.name}", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                   <% elsif current_company   %>
                   <li class="active">  <%= link_to "DASHBOARD", admin_index_path  %> </li>
                   <li><%= link_to "Logout", destroy_company_session_path, method: :delete, :class => 'navbar-link'  %></li>
                <% end %>
                <ul>
                    <%= render "layouts/login" %>
                </ul>
                </ul>
              </div>
        </nav>


  <div class="container">
    <% if notice %><p class="alert alert-success"><%= notice %></p><% end %>
    <% if alert %><p class="alert alert-error"><%= alert %></p><% end %>
    <%= yield %>
  </div>

  <%= render "layouts/footer" %>

</body>
</html>
